<div class="content-wrapper" >
    <!-- Content Wrapper. Contains page content -->
    <section class="content-header">
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 style="font-family: 'Franklin Gothic Medium'">Pacientes Registrados</h1>
                </div>
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        <li class="breadcrumb-item"><a href="/home">Home</a></li>
                        <li class="breadcrumb-item active">Pacientes registrados</li>
                    </ol>
                </div>
            </div>
        </div><!-- /.container-fluid -->
    </section>

    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
            <!-- /.row bs steppers-->
            <div class="row">
                <div class="col-md-12">
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Listado de Pacientes Registrados</h3>
                        </div>
                        <div class="card-body ">
                            <table id="pacientesDT" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>CODIGO PERSONA</th>
                                    <th>NOMBRE COMPLETO</th>
                                    <th>G&Eacute;NERO</th>
                                    <th>ACCIONES</th>
                                </tr>
                                </thead>
                            </table>
                        </div>
                    </div>
                    <!-- /.card -->
                </div>
            </div>

        </div><!-- /.container-fluid -->
    </section>
    <!-- /.content -->
</div>








