<!-- Main Sidebar Container -->
<aside class="main-sidebar sidebar-dark-primary elevation-4" >
    <!-- Brand Logo -->
    <a href="auth/home" class="brand-link">
        <img src="assets/img/Logo2.png" alt="CIP" class="brand-image img-circle elevation-3" style="opacity: .8">
        <span class="brand-text font-weight-bold">SCIP v1.0</span>
    </a>

    <!-- Sidebar -->
    <div class="sidebar">
        <!-- Sidebar user panel (optional) -->
        <div class="user-panel mt-3 pb-3 mb-3 d-flex">
            <div class="image">
                <img src="assets/img/avatar5.png" class="img-circle elevation-2" alt="User Image">
            </div>
            <div class="info">
                <span class="d-block font-weight-bold " style="color: #FFFFFF">Bienvenido</span>
                <!--<a href="#" class="d-block font-weight-light">{{username}}</a>-->
                <!--<a href="#" class="d-block font-weight-lighter">{{role}}</a>-->
           </div>
       </div>

       <!-- SidebarSearch Form -->
        <div class="form-inline">
            <div class="input-group" data-widget="sidebar-search">
                <input class="form-control form-control-sidebar" type="search" placeholder="Search" aria-label="Search">
                <div class="input-group-append">
                    <button class="btn btn-sidebar">
                        <i class="fas fa-search fa-fw"></i>
                    </button>
                </div>
            </div>
        </div>

        <!-- Sidebar Menu -->
        <nav class="mt-2">

            <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
                <!-- Add icons to the links using the .nav-icon class
                     with font-awesome or any other icon font library -->

                <!-- Add icons to the links using the .nav-icon class
                    with font-awesome or any other icon font library -->
                <li class="nav-item menu">
                    <a href="#" class="nav-link">
                        <i class="nav-icon fas fa-user"></i>
                        <p>Formularios
                            <i class="right fas fa-angle-left"></i>
                        </p>
                    </a>
                    <ul class="nav nav-treeview">
                        <li class="nav-item">
                            <a routerLink="formularios/fichaAdulto" class="nav-link" >
                                <i class="fas fa-list nav-icon"></i>
                                <p>Formularios Ficha Adulto</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="formularios/preEntrevista" class="nav-link" >
                                <i class="fas fa-clipboard nav-icon"></i>
                                <p>Pre Entrevista</p>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="tabla/personasRegistradas" class="nav-link" >
                                <i class="fas fa-clipboard nav-icon"></i>
                                <p>Personas Registradas</p>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </nav>
        <!-- /.sidebar-menu -->
    </div>
    <!-- /.sidebar -->
</aside>