/* You can add global styles to this file, and also import other style files */
.disabled-element {
  pointer-events: none;
}

/*modificacion global a todos los thead de tables*/
.table thead th{
  background-color: #008F87 !important;
  color: white;
}

th {
  white-space: nowrap; /*el encabezado se muestra en una linea*/
}

.card-header{
  background-color: #008F87 !important;
}

.main-sidebar {
  background-color: #634834 !important; /* Cambia el color de fondo */
}

/* Cambia el color de fondo del elemento principal del menú cuando está activo */
.nav-item.menu.menu-open > .nav-link {
  background-color: #008F87 !important;
  color: white !important;
}

/* Cambia el color de fondo del subelemento activo a blanco */
.nav-item .nav-link.active {
  background-color: white !important;
  color:  #634834 !important;
}

/* Color de texto predeterminado para enlaces */
.nav-item .nav-link {
  color: white;
}

.main-header{
  background-color: #634834 !important;
}

.round-image {
  border-radius: 50%; /* Hace la imagen redonda */
  width: 300px; /* Asegúrate de que el ancho sea igual al alto */
  height: 300px; /* Asegúrate de que el alto sea igual al ancho */
  object-fit: cover; /* Asegura que la imagen se ajuste al contenedor sin distorsionarse */
}

.label{
  color: #634834;
}


/* styles.css */
.btn-custom {
  background-color: #008F87; /* Cambia este color al que desees */
  color: white; /* Color del texto */
  border: 1px solid #008F87; /* Borde del botón */
  border-radius: 0.25rem; /* Bordes redondeados, opcional */
  padding: 0.375rem 0.75rem; /* Espaciado interno, opcional */
  font-size: 1rem; /* Tamaño de fuente, opcional */
  font-weight: 400; /* Peso de fuente, opcional */
}

.btn-custom:hover {
  background-color: #02fde8; /* Color de fondo al pasar el ratón por encima */
  border-color: #02fde8; /* Borde al pasar el ratón por encima */
  color: #032d23; /* Asegúrate de que el texto sea legible */
}

.btn-custom:focus, .btn-custom:active {
  box-shadow: none; /* Elimina el sombreado del foco y activación */
}


.banner {
  width: 100%; /* Asegura que el banner ocupe el 100% del ancho del contenedor */
  overflow: hidden; /* Opcional: asegúrate de que el contenido no se desborde */
}

.banner img {
  width: 300%; /* Hace que la imagen se ajuste al ancho del contenedor */
  height: 40%; /* Mantiene la proporción de la imagen */
}
